matplotlib
numpy
pandas
scikit_learn==1.0.2
torch==1.13.1
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability