matplotlib==3.4.3
numpy==1.22.0
torch==1.13.1
torchvision
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability