tensorflow
tensorflow_addons
tensorflow_datasets
tensorflow_hub
numpy
matplotlib
seaborn
sklearn
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability